body {
    background-color: rgb(84, 173, 91);
    position: relative;
    overflow-x: hidden;    
}

.upload__form {
    width: 50%;
    background-color: rgb(232, 233, 231);
    padding: 1%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.footer__centered {
    position: fixed;
    bottom: 0%;
    /* right: 30%;  */
    width: 100%;
    background-color: rgb(232, 233, 231);
}

.copyright {
    padding: 0;
    margin: 3px;
}